* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --green: #4f7942;
  --font-header: "League Gothic", sans-serif;
  --font-default: "Roboto", sans-serif;
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  text-transform: uppercase;
  color: var(--black);
  font-weight: 400;
  font-size: 4rem;
}

p,
li,
a {
  font-family: var(--font-default);
  color: var(--black);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 300;
}

p {
  line-height: 1.5;
}

button {
  border: none;
  cursor: pointer;
  font-family: var(--font-default);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  margin-top: 2.5vh;
}

.color-primary-btn,
.color-secondary-btn,
.black-primary-btn,
.black-secondary-btn {
  padding: 1vh 5vw;
  margin-right: 2.5vw;
  border-radius: 2px;
}

.color-primary-btn {
  background-color: var(--green);
  border: 2px solid var(--green);
}

.color-secondary-btn {
  border: 2px solid var(--green);
  background-color: transparent;
  color: var(--white);
}

.black-primary-btn {
  background-color: var(--black);
  border: 2px solid var(--black);
  color: var(--white);
}

.black-secondary-btn {
  border: 2px solid var(--black);
  background-color: var(--white);
}

/* Mobile */
header {
  width: 100%;
  background-color: transparent;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  position: fixed;
  transition: background 0.25s ease;
  z-index: 500;
}

.header-active {
  background-color: var(--black);
}

.skip-to-content-btn {
  width: 100%;
  height: inherit;
  font-size: 2rem;
  background-color: var(--black);
  color: var(--white);
  top: -100%;
  left: 0;
  position: absolute;
  transition: top 0.25s ease;
  z-index: 500;
}

.skip-to-content-btn:focus {
  left: 0;
  top: 0;
}

header img {
  height: 9vh;
  cursor: pointer;
}

.nav-list {
  position: absolute;
  background-color: var(--black);
  top: 10vh;
  left: -100%;
  min-height: 45vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5vh 2.5vh;
  transition: left 0.25s ease;
  z-index: 500;
}

.nav-list-active {
  left: 0;
}

.header-menu-toggle {
  background-color: transparent;
}

.nav-list a,
.header-menu-toggle {
  font-size: 3.5rem;
  font-family: var(--font-header);
  text-transform: uppercase;
  color: var(--white);
}

.nav-list a {
  margin: 1.25vh 0;
}

.nav-list a:hover,
.nav-list a:focus-visible {
  color: var(--green);
}

.footer-callout {
  min-height: 10vh;
  background-color: var(--black);
  width: 100%;
  padding: 2.5vh 15vw;
  margin: 0 auto;
}

.footer-callout h4,
.footer p {
  color: var(--white);
}

.footer-callout p,
.footer-callout h4 {
  margin-bottom: 2.5vh;
}

.footer {
  position: relative;
  background: var(--black);
  min-height: 20vh;
  width: 100%;
  z-index: 50;
}

.footer::before {
  content: "";
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position: absolute;
  top: -2%;
  width: 100%;
  background: var(--black);
  height: 2%;
}

hr {
  width: 75%;
  height: 1px;
  background-color: var(--green);
  border: none;
  margin: 2.5vh auto;
}

.socials {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.socials img {
  width: 50px;
  margin: 0 0vw;
  object-fit: contain;
  cursor: pointer;
}

.footer p:last-child {
  text-align: center;
  margin-top: 5vh;
  padding-bottom: 2.5vh;
  font-size: 2rem;
}

main {
  height: 30vh;
  padding-top: 10vh;
}

@media screen and (min-width: 1024px) {
  .header-menu-toggle {
    display: none;
  }

  header {
    height: 8vh;
  }

  .skip-to-content-btn {
    font-size: 1.5rem;
  }

  header img {
    height: 7vh;
    position: absolute;
    z-index: 100;
  }

  .nav-list {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    padding: 0;
    min-height: 8vh;
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    transition: none;
  }

  .nav-list a {
    font-size: 3rem;
    padding: 0 1.25vw;
  }

  .nav-list a {
    margin-bottom: 0.5vh;
  }

  main {
    padding-top: 8vh;
  }
}
